.con-title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.con-select {
  margin-bottom: 15px;
}

.con {
  margin: 15px 0px;
  margin-bottom: 30px;
}

.con-label {
  font-size: 20px;
  margin-right: 10px;
}

.con-input {
  padding: 8px 5px;
}

.con-minhour,
.con-kmmile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.con-reset,
.con-invert {
  margin-top: 20px;
}

.con-reset {
  margin-right: 10px;
}
